<div class="container-fluid mb-3">
	<div class="row">
		<img src="https://picsum.photos/1200/500/?random" class="img-fluid w-100" style="max-height: 500px;">
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-12">
			<h1>{{movie.title}}</h1>
			<p>{{movie.description}}</p>
			<p>{{movie.actors}}</p>
		</div>
	</div>
</div>
