<div class="container">
	<div class="row">
		<div class="col-9 mx-auto">
			<div class="card card-signin my-5">
				<div class="card-body">
					<h5 class="card-title text-center">Sign In</h5>
					<div class="row align-items-center h-100">
						<div class="col-6">
							<form class="form-signin">
								<div class="form-label-group">
									<input type="email" id="inputEmail" class="form-control" placeholder="Email address"
										   required autofocus>
									<label for="inputEmail">Email address</label>
								</div>

								<div class="form-label-group mb-5">
									<input type="password" id="inputPassword" class="form-control"
										   placeholder="Password"
										   required>
									<label for="inputPassword">Password</label>
								</div>

								<div class="custom-control custom-checkbox mb-3">
									<input type="checkbox" class="custom-control-input" id="customCheck1">
									<label class="custom-control-label" for="customCheck1">Remember password</label>
								</div>
								<button class="btn btn-lg btn-primary btn-block text-uppercase mb-3" type="submit">Sign
									In
								</button>
								<p>Not registered? <a href="/signup">Create an account</a></p>
							</form>
						</div>

						<div class="col-6 text-center">
							<img src="/images/signin-image.jpg" class="img-fluid">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
